* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #fff;
  color: #222;
}

.header {
  text-align: center;
  padding: 30px 15px;
}

.logo {
  width: 90px;
}

.slogan {
  color: #d4a017;
}

.catalogo {
  padding: 30px 20px;
}

.catalogo h2 {
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* PC */
@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: auto;
  }
}

.producto {
  background: #fff4f7;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
}

.img-principal {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
}

.miniaturas {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

.miniaturas img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
}

.miniaturas img:hover {
  opacity: 1;
}

.precio {
  display: block;
  font-weight: bold;
  color: #d4a017;
  margin: 10px 0;
}

.btn {
  display: block;
  margin-top: 12px;
  background: #25D366;
  color: white;
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

